flow.json
[
    {
        "id": "8b73791074e2440f",
        "type": "tab",
        "label": "Greenhouse Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "866899659468eae4",
        "type": "mqtt in",
        "z": "8b73791074e2440f",
        "name": "Temperature",
        "topic": "greenhouse/sensors/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e0a3705b8b226ba6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "72be4c0a0cd88416",
                "e9404f5141b760d7"
            ]
        ]
    },
    {
        "id": "72be4c0a0cd88416",
        "type": "debug",
        "z": "8b73791074e2440f",
        "name": "Temperature Data",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "d8342271b6ea12cd",
        "type": "mqtt in",
        "z": "8b73791074e2440f",
        "name": "Humidity",
        "topic": "greenhouse/sensors/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e0a3705b8b226ba6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "746540a7d749b085",
                "ab64947c9e81aa83"
            ]
        ]
    },
    {
        "id": "746540a7d749b085",
        "type": "debug",
        "z": "8b73791074e2440f",
        "name": "Humidity Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 240,
        "wires": []
    },
    {
        "id": "e9404f5141b760d7",
        "type": "ui_gauge",
        "z": "8b73791074e2440f",
        "name": "",
        "group": "6b7f211954474414",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "ab64947c9e81aa83",
        "type": "ui_gauge",
        "z": "8b73791074e2440f",
        "name": "",
        "group": "6b7f211954474414",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "37c1157016736ea0",
        "type": "mqtt out",
        "z": "8b73791074e2440f",
        "name": "Growth light",
        "topic": "greenhouse/control/light",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e0a3705b8b226ba6",
        "x": 330,
        "y": 1100,
        "wires": []
    },
    {
        "id": "69a5b1405e9b3668",
        "type": "ui_slider",
        "z": "8b73791074e2440f",
        "name": "Light Slider",
        "label": "Light Intensity ",
        "tooltip": "",
        "group": "9f7f5dbd33e76538",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "greenhouse/control/light",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 170,
        "y": 1100,
        "wires": [
            [
                "37c1157016736ea0",
                "2533b02378f0256d"
            ]
        ]
    },
    {
        "id": "2533b02378f0256d",
        "type": "debug",
        "z": "8b73791074e2440f",
        "name": "Growth Light Intensity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 220,
        "y": 1200,
        "wires": []
    },
    {
        "id": "f5345560ab2137a0",
        "type": "mqtt in",
        "z": "8b73791074e2440f",
        "name": "Soil Moisture",
        "topic": "greenhouse/sensors/soilMoisture",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e0a3705b8b226ba6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 360,
        "wires": [
            [
                "aad1c228268dca41",
                "0559515fd0627690"
            ]
        ]
    },
    {
        "id": "aad1c228268dca41",
        "type": "debug",
        "z": "8b73791074e2440f",
        "name": "Soil Moisture Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 360,
        "wires": []
    },
    {
        "id": "0559515fd0627690",
        "type": "ui_gauge",
        "z": "8b73791074e2440f",
        "name": "Soil Moisture",
        "group": "6b7f211954474414",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil Moisture",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 300,
        "wires": []
    },
    {
        "id": "341fb43e201feb74",
        "type": "mqtt in",
        "z": "8b73791074e2440f",
        "name": "Light Intensity",
        "topic": "greenhouse/sensors/light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e0a3705b8b226ba6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 620,
        "wires": [
            [
                "cafbd728f5222a8b",
                "f99377291b67d124"
            ]
        ]
    },
    {
        "id": "cafbd728f5222a8b",
        "type": "debug",
        "z": "8b73791074e2440f",
        "name": "LDR Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 620,
        "wires": []
    },
    {
        "id": "f99377291b67d124",
        "type": "ui_chart",
        "z": "8b73791074e2440f",
        "name": "",
        "group": "6b7f211954474414",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Light Intensity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "This chart will show the light intensity of last 30 minutes.",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "3fdebc1f162b7984",
        "type": "mqtt in",
        "z": "8b73791074e2440f",
        "name": "Water Level",
        "topic": "greenhouse/sensors/waterLevel",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e0a3705b8b226ba6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 480,
        "wires": [
            [
                "e5b66959cee4a41b",
                "39b907e541e65f46"
            ]
        ]
    },
    {
        "id": "e5b66959cee4a41b",
        "type": "debug",
        "z": "8b73791074e2440f",
        "name": "Ultrasonic Distance Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 480,
        "wires": []
    },
    {
        "id": "39b907e541e65f46",
        "type": "ui_chart",
        "z": "8b73791074e2440f",
        "name": "",
        "group": "6b7f211954474414",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Water Level",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "This chart will show the level of water in water tank.",
        "dot": false,
        "ymin": "0",
        "ymax": "400",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 330,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "5cc556e2a66e7b06",
        "type": "mqtt out",
        "z": "8b73791074e2440f",
        "name": "Fan",
        "topic": "greenhouse/control/fan",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e0a3705b8b226ba6",
        "x": 330,
        "y": 1300,
        "wires": []
    },
    {
        "id": "cce0eb1c2b916e9c",
        "type": "debug",
        "z": "8b73791074e2440f",
        "name": "Fan Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 1380,
        "wires": []
    },
    {
        "id": "ed8cdeb50c96d561",
        "type": "ui_switch",
        "z": "8b73791074e2440f",
        "name": "",
        "label": "Fan (ON/OFF)",
        "tooltip": "",
        "group": "9f7f5dbd33e76538",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "greenhouse/control/fan",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 1300,
        "wires": [
            [
                "5cc556e2a66e7b06",
                "cce0eb1c2b916e9c"
            ]
        ]
    },
    {
        "id": "a4b9d57d6a6d7b71",
        "type": "ui_switch",
        "z": "8b73791074e2440f",
        "name": "",
        "label": "Pump (ON/OFF)",
        "tooltip": "",
        "group": "9f7f5dbd33e76538",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "greenhouse/control/pump",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 1460,
        "wires": [
            [
                "dbba92d28d409cf5",
                "fa32a6e53af1f4c8"
            ]
        ]
    },
    {
        "id": "dbba92d28d409cf5",
        "type": "mqtt out",
        "z": "8b73791074e2440f",
        "name": "Pump",
        "topic": "greenhouse/control/pump",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e0a3705b8b226ba6",
        "x": 370,
        "y": 1460,
        "wires": []
    },
    {
        "id": "fa32a6e53af1f4c8",
        "type": "debug",
        "z": "8b73791074e2440f",
        "name": "Pump Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 1560,
        "wires": []
    },
    {
        "id": "b1a820905cfdaf54",
        "type": "mqtt out",
        "z": "8b73791074e2440f",
        "name": "Window Angle",
        "topic": "greenhouse/control/window",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e0a3705b8b226ba6",
        "x": 400,
        "y": 1620,
        "wires": []
    },
    {
        "id": "a6de9f4c647a85fc",
        "type": "debug",
        "z": "8b73791074e2440f",
        "name": "Window Angle Degree",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 1700,
        "wires": []
    },
    {
        "id": "b1f647e05c5873c7",
        "type": "ui_slider",
        "z": "8b73791074e2440f",
        "name": "Window Slider",
        "label": "Window Angle",
        "tooltip": "",
        "group": "9f7f5dbd33e76538",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "greenhouse/control/window",
        "topicType": "msg",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 180,
        "y": 1620,
        "wires": [
            [
                "b1a820905cfdaf54",
                "a6de9f4c647a85fc"
            ]
        ]
    },
    {
        "id": "c33807fbf0b2a95c",
        "type": "ui_text",
        "z": "8b73791074e2440f",
        "group": "d17c3a3f71652d19",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "                        System Mode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Times New Roman,Times,serif",
        "fontSize": 16,
        "color": "#0a0a0a",
        "x": 360,
        "y": 720,
        "wires": []
    },
    {
        "id": "eb1a753f83f08905",
        "type": "mqtt in",
        "z": "8b73791074e2440f",
        "name": "Mode Status",
        "topic": "greenhouse/mode/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e0a3705b8b226ba6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 760,
        "wires": [
            [
                "c33807fbf0b2a95c",
                "ebdbf277b3fde585"
            ]
        ]
    },
    {
        "id": "ebdbf277b3fde585",
        "type": "debug",
        "z": "8b73791074e2440f",
        "name": "System Mode",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 760,
        "wires": []
    },
    {
        "id": "941a1cd918b1db04",
        "type": "mqtt in",
        "z": "8b73791074e2440f",
        "name": "System Status",
        "topic": "greenhouse/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e0a3705b8b226ba6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 880,
        "wires": [
            [
                "0e29caf03bc23ce5",
                "ce68c6ee744e2e44",
                "521837f3c0200a73",
                "766e063263e54518"
            ]
        ]
    },
    {
        "id": "0e29caf03bc23ce5",
        "type": "debug",
        "z": "8b73791074e2440f",
        "name": "System Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 880,
        "wires": []
    },
    {
        "id": "521837f3c0200a73",
        "type": "ui_text",
        "z": "8b73791074e2440f",
        "group": "d17c3a3f71652d19",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "System Status",
        "label": "System Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "Times New Roman,Times,serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 360,
        "y": 960,
        "wires": []
    },
    {
        "id": "ce68c6ee744e2e44",
        "type": "function",
        "z": "8b73791074e2440f",
        "name": "Decide Notification",
        "func": "\nif (msg.payload === \"Low Water\") {\n    msg.payload = \"Warning: Low Water\"; // warning\n    \n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 820,
        "wires": [
            [
                "88eebd95310ccfbf"
            ]
        ]
    },
    {
        "id": "88eebd95310ccfbf",
        "type": "ui_toast",
        "z": "8b73791074e2440f",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 710,
        "y": 820,
        "wires": []
    },
    {
        "id": "766e063263e54518",
        "type": "ui_template",
        "z": "8b73791074e2440f",
        "group": "d17c3a3f71652d19",
        "name": "Decide Color",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div ng-style=\"{\n  'color': (msg.payload === 'RUNNING') ? 'green' :\n           (msg.payload === 'LOW_WATER') ? 'red' : 'black',\n  'font-weight': 'bold',\n  'font-size': '18px'\n}\">\n    {{msg.payload}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 610,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "e0a3705b8b226ba6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6b7f211954474414",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "915f3646bb27d0b1",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9f7f5dbd33e76538",
        "type": "ui_group",
        "name": "Actuators",
        "tab": "915f3646bb27d0b1",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d17c3a3f71652d19",
        "type": "ui_group",
        "name": "System Data",
        "tab": "915f3646bb27d0b1",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "915f3646bb27d0b1",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]